.btn-gay{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradiente 2s ease infinite;
    background-size: 200% 200%;

}

@keyframes gradiente{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}  
}body{
    background-color: pink;
    display: flex;
    justify-content: center;
}  

p{
    font-size: 30px;
    margin: 0;
}

div{
    margin:5dvh 0 5dvh 0;
}

button{
    background-color: crimson;
    border: none;
    color: white;
    font-size: 20px;
    padding: 1rem;
    border-radius: 10px;
}

input{
    margin: 0;
    border: none;
    width: 70dvw;
    height: 5dvh;
}

input:focus{
    border: none;
}

#resultado{
    font-size: 25px;
}